

<div class="main-content">
    <div class="widget widget-table">

        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>

        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>



            <div class="row">
                <div class="col-md-12">
                    <form>
                        <label for="" class="control-label">Main Search: </label>
                        <input type="text" class="input-sm" placeholder="Enter Contract Number to search" ng-model="vm.searchParam " style="width:300px" />
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.loadScbBankClassificationBySearch()">Load</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.refresh()">Refresh</button>
                    </form>
                </div>
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="ifrs-scbbankclassification-edit({ID:0})"> Create New</a>
            </div>
            <br />

            <table id="scbBANKclassificationTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th style="width: 3%;">Action</th>

                        <th>Contract No</th>
                        <th>Facility Type</th>
                        <th>Sector</th>
                        <th>Prev Bank Classification</th>
                        <th>Curr Bank Classification</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="scbBANKclassifications in vm.scbBANKclassification">


                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="ifrs-scbbankclassification-edit({ID:scbBANKclassifications.ID})">
                                Edit
                            </a>
                        </td>

                        <td>{{ scbBANKclassifications.contract_no }}</td>
                        <td>{{ scbBANKclassifications.facility_type }}</td>
                        <td>{{ scbBANKclassifications.sector }}</td>
                        <td>{{ scbBANKclassifications.prev_bank_classification }}</td>
                        <td>{{ scbBANKclassifications.curr_bank_classification }}</td>

                    </tr>

                </tbody>
            </table>

        </div>



    </div>
</div>
