<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div class="row">
                                                    <div class="col-md-7">

                                                        <div data-ng-include="'app/common/views/validation-view.html'"></div>



                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"><b>Contract Number</b></label>
                                                            <div class="col-sm-9 controls">
                                                                <input type="text" class="form-control input-sm" data-ng-model="vm.ScbCUSTOMERInfo.Contract_Number" style="width:250px;background-color:lightblue" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"><b>Customer Id</b></label>
                                                            <div class="col-sm-9 controls">
                                                                <input type="text" class="form-control input-sm" data-ng-model="vm.ScbCUSTOMERInfo.customer_id" style="width:250px;background-color:lightblue" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"><b>Facility Type</b></label>
                                                            <div class="col-sm-9 controls">
                                                                <input type="text" class="form-control input-sm" data-ng-model="vm.ScbCUSTOMERInfo.Facility_type" style="width:250px;background-color:lightblue" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"><b>Sector</b></label>
                                                            <div class="col-sm-9 controls">
                                                                <input type="text" class="form-control input-sm" data-ng-model="vm.ScbCUSTOMERInfo.Sector" style="width:250px;background-color:lightblue" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"><b>Sub Sector</b></label>
                                                            <div class="col-sm-9 controls">
                                                                <input type="text" class="form-control input-sm" data-ng-model="vm.ScbCUSTOMERInfo.Sub_sector" style="width:250px;background-color:lightblue" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"><b>Repayment Frequency</b></label>
                                                            <div class="col-sm-9 controls">
                                                                <input type="text" class="form-control input-sm" data-ng-model="vm.ScbCUSTOMERInfo.Repayment_Frequency" style="width:250px;background-color:lightblue" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"><b>Repayment Frequency In Words</b></label>
                                                            <div class="col-sm-9 controls">
                                                                <input type="text" class="form-control input-sm" data-ng-model="vm.ScbCUSTOMERInfo.Repayment_Frequency_in_words" style="width:250px;background-color:lightblue" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"><b>Tin Number</b></label>
                                                            <div class="col-sm-9 controls">
                                                                <input type="text" class="form-control input-sm" data-ng-model="vm.ScbCUSTOMERInfo.Tin_number" style="width:250px;background-color:lightblue" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"><b>Bvn</b></label>
                                                            <div class="col-sm-9 controls">
                                                                <input type="text" class="form-control input-sm" data-ng-model="vm.ScbCUSTOMERInfo.BVN" style="width:250px;background-color:lightblue" />
                                                            </div>
                                                        </div>





                                                        <div>

                                                            <div class="form-group mbn footbtns">
                                                                <label class="col-sm-3 control-label"><b></b></label>
                                                                <div class="col-sm-9 controls">
                                                                    <button type="button" class="btn btn-success" ng-click="vm.save()">
                                                                        <i class="fa fa-save"></i>&nbsp;
                                                                        Save
                                                                    </button>
                                                                    <button type="button" class="btn btn-danger" data-ng-click="vm.delete()">Delete</button>
                                                                    <button type="button" class="btn btn-default" data-ng-click="vm.cancel()">Cancel</button>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>


                                                </div>




                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

